@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Nunito Sans", sans-serif;
}
:root{
  --p-inputtext-focus-border-color:#4964D8 !important;
  --p-floatlabel-focus-color:#4964D8 !important;
  --p-select-focus-border-color:#4964D8 !important;
  --p-primary-color: #3b72f1 !important;
  --p-button-primary-active-background: #3b72f1 !important;
  --p-button-primary-active-border-color: #3b72f1 !important;
}
body{
    overflow-x: hidden;
    background: rgb(243 244 246 / var(--tw-bg-opacity, 1))//#F5F6FA;
}

body::-webkit-scrollbar {
    display: none !important;
  }


  // .p-select{
  //   border: none !important;
  //   outline: none !important;
  //   border-bottom: 1px solid rgb(209 213 219) !important;
  //   border-radius: 0 !important;
  // }

  .p-password:has(.p-password-toggle-mask-icon) .p-password-input {
    min-width: 100% !important;
  //   border: none !important;
  //   outline: none !important;
  //   border-bottom: 1px solid rgb(209 213 219) !important;
  //   border-radius: 0 !important;
  }
  .p-password:has(.p-password-toggle-mask-icon) .p-password-input.p-invalid{
    border-bottom: 1px solid red !important;
  }

  .p-datatable-thead{
     th{
      background-color:rgb(249 250 251 / var(--tw-bg-opacity, 1));
      color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        svg{
          color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }
     }
  }
  .p-datatable-sortable-column:not(.p-datatable-column-sorted):hover {
    opacity: 0.8;
    background-color: #3b72f1 !important;
    color: #fff !important;
    //  svg{
    //   color: #fff !important;
    //  }
  }

.router-link-active {
  &.router-link-exact-active{
    span.absolute:nth-child(1)  {
      @apply opacity-100 bg-[#4880FF]
    }
    div{
      @apply text-white bg-[#4880FF]
    }
  }
}
.p-select{
  min-height: 42px;
}
.p-select-label{
  min-height: 40px;
  // text-align: center;
  display: flex !important;
  align-items: center;
}

.currenceselect{

  max-height: 30px !important;
  min-height: 20px !important;
   .p-select-dropdown{
    display: none;
   }
 .p-select-label{
   min-height: 30px !important;
   font-size: 12px;
   justify-items: center;
   padding: .4rem 0.5rem;
   align-items: center;
   min-width: 60px;
 }
}
.p-confirmdialog{
  width: 350px !important;
}
.scroll{
  overflow: auto;
  &.default{
      &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        
          
      }

      &::-webkit-scrollbar-thumb {
          background: #cfcfcf !important;
          border-radius: 5px !important;
          display: none;
         
      }

      &::-webkit-scrollbar-track {
          background: #f1f1f1 !important;
          opacity: 0;
          
      }
      &:hover{
          &::-webkit-scrollbar-thumb{
              display: block;
          }
  
      }
  }

}